body{
    background-color:lightblue;
    font-family:Arial, Helvetica, sans-serif;
}
h1{
color:black;
text-align: center;
font-size:72px;
font-weight:bold;
}
h2{
color:blue;
text-align:center;
font-size: 50px;
font-weight:bold;
text-decoration:underline;
}
h3{
color:black;
font-size:22px;
}
P1{
   color:rgb(120, 4, 4);
font-size:22px; 
}